Repository olafkfreund/lx-hw-db: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-formatting, rust-linting, cargo-toml-format

.pre-commit-config.yaml:

# Pre-commit hooks for Linux Hardware Compatibility Database
# Ensures code quality, formatting, and best practices

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Install with: pre-commit install
# Run manually: pre-commit run --all-files
# Update hooks: pre-commit autoupdate

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Prevent giant files from being committed
      - id: check-added-large-files
        args: ['--maxkb=2000']
      # Check for files that contain merge conflict strings
      - id: check-merge-conflict
      # Check for debugger imports and py37+ breakpoint()
      - id: debug-statements
      # Ensure files end with a newline
      - id: end-of-file-fixer
      # Trim trailing whitespace
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      # Check yaml files for parseable syntax
      - id: check-yaml
      # Check json files for parseable syntax
      - id: check-json
      # Check toml files for parseable syntax
      - id: check-toml
      # Check for private keys
      - id: detect-private-key
      # Fix utf-8 byte order marker
      - id: fix-byte-order-marker
      # Prevent committing to main branch
      - id: no-commit-to-branch
        args: ['--branch', 'main']
        stages: [pre-commit]

  # Rust formatting
  - repo: local
    hooks:
      - id: rust-formatting
        name: Rust formatting (rustfmt)
        entry: rustfmt
        language: system
        types: [rust]
        args: ['--edition', '2021']
        pass_filenames: true

  # Rust linting
  - repo: local
    hooks:
      - id: rust-linting
        name: Rust linting (clippy)
        entry: cargo clippy
        language: system
        types: [rust]
        args: ['--all-targets', '--all-features', '--', '-D', 'warnings']
        pass_filenames: false
        files: '\.rs$'

  # Rust security audit (requires cargo-audit installation)
  # - repo: local
  #   hooks:
  #     - id: cargo-audit
  #       name: Rust security audit
  #       entry: cargo audit
  #       language: system
  #       pass_filenames: false
  #       types: [rust]

  # Check Cargo.toml formatting
  - repo: local
    hooks:
      - id: cargo-toml-format
        name: Format Cargo.toml
        entry: cargo fmt --manifest-path Cargo.toml
        language: system
        pass_filenames: false
        files: '^Cargo\.toml$'

  # Markdown formatting and linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # Shell script analysis
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [yaml, json]
        args: ['--tab-width', '2']

  # Git commit message linting
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  # Check for secrets
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        exclude: |
          (?x)^(
            package.lock.json|
            web/build-info.json
          )$

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ['-L', 'crate,ser,de,ba,rouge']
        exclude: |
          (?x)^(
            .*\.lock|
            .*\.json|
            target/.*
          )$

# Configuration for specific tools
exclude: |
  (?x)^(
    target/.*|
    .*\.lock|
    web/js/.*\.js|
    hardware-reports/.*|
    indices/.*|
    api/.*|
    statistics/.*
  )$

Automated Update hardware compatibility indices
  api/v1/index.json
  api/v1/recommendations/by-use-case/development.json
  api/v1/recommendations/by-use-case/gaming.json
  api/v1/recommendations/by-use-case/general.json
  api/v1/recommendations/by-use-case/server.json
  api/v1/search/components.json
  api/v1/search/distributions.json
  api/v1/search/kernels.json
  api/v1/search/vendors.json
  api/v1/stats/overview.json
  api/v1/stats/top-hardware.json
  api/v1/stats/trends.json
  statistics/latest-stats.txt
  statistics/overview.json
  web/README.md
  web/api/v1/index.json
  web/api/v1/recommendations/by-use-case/development.json
  web/api/v1/recommendations/by-use-case/gaming.json
  web/api/v1/recommendations/by-use-case/general.json
  web/api/v1/recommendations/by-use-case/server.json
  web/api/v1/search/components.json
  web/api/v1/search/distributions.json
  web/api/v1/search/kernels.json
  web/api/v1/search/vendors.json
  web/api/v1/stats/overview.json
  web/api/v1/stats/top-hardware.json
  web/api/v1/stats/trends.json
  web/build-info.json
  web/statistics/latest-stats.txt
  web/statistics/overview.json
Due: none

🎨 Fix statistics dashboard layout proportions and add compatibility chart
  web/css/styles.css
  web/js/stats-dashboard.js
Due: none

🎯 Fix layout by implementing clean vertical stacking of all sections
  web/css/styles.css
  web/js/compatibility-matrix.js
Due: none

Debug compatibility overview loading issue
  web/js/stats-dashboard.js
Due: none

Restore Compatibility Matrix in vertical layout
  web/css/styles.css
  web/js/compatibility-matrix.js
Due: none

Add comprehensive debugging for compatibility chart
  web/js/stats-dashboard.js
Due: none

Fix View Details buttons not responding to clicks
  web/js/hardware-details.js
Due: none

Add comprehensive seed data for hardware details modal
  web/js/hardware-details.js
Due: none

Add comprehensive debugging to hardware details modal
  web/js/hardware-details.js
Due: none

Fix missing addConfigTipsToModal method in configuration-tips.js
  web/js/configuration-tips.js
Due: none

Fix JavaScript dependency and method errors
  web/index.html
  web/js/configuration-tips.js
Due: none

Fix FlexSearch loading order and missing setCategoriesData method
  web/index.html
  web/js/configuration-tips.js
  web/js/data-loader.js
  web/js/tip-search.js
Due: none

Complete Advanced Compatibility Matrix JavaScript interactivity
  web/index.html
  web/js/compatibility-matrix.js
  web/js/tip-search.js
Due: none

Update README.md with technical focus and Phase 3 status
  README.md
  statistics/overview.json
  web/api/v1/index.json
  web/api/v1/recommendations/by-use-case/development.json
  web/api/v1/recommendations/by-use-case/gaming.json
  web/api/v1/recommendations/by-use-case/general.json
  web/api/v1/recommendations/by-use-case/server.json
  web/api/v1/search/components.json
  web/api/v1/search/distributions.json
  web/api/v1/search/kernels.json
  web/api/v1/search/vendors.json
  web/api/v1/stats/overview.json
  web/api/v1/stats/top-hardware.json
  web/api/v1/stats/trends.json
  web/css/styles.css
  web/data/hardware-database.json
  web/data/new-detection-test.json
  web/js/hardware-details.js
  web/js/main.js
  web/js/search-engine.js
  web/js/search-ui.js
  web/js/stats-dashboard.js
  web/serve.py
  web/statistics/overview.json
Due: none

Complete Phase 4: Search and Discovery Implementation
  .github/ISSUE_TEMPLATE/hardware-compatibility-issue.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/update-search-indices.yml
  .github/workflows/validate-hardware-report.yml
  API_DOCUMENTATION.md
  api/v1/index.json
  api/v1/recommendations/by-component/pci-device.json
  api/v1/recommendations/by-use-case/development.json
  api/v1/recommendations/by-use-case/gaming.json
  api/v1/recommendations/by-use-case/general.json
  api/v1/recommendations/by-use-case/server.json
  api/v1/recommendations/by-vendor/1002.json
  api/v1/recommendations/by-vendor/1022.json
  api/v1/recommendations/by-vendor/1b21.json
  api/v1/recommendations/by-vendor/1d6a.json
  api/v1/recommendations/by-vendor/2646.json
  api/v1/search/components.json
  api/v1/search/distributions.json
  api/v1/search/kernels.json
  api/v1/search/vendors.json
  api/v1/stats/overview.json
  api/v1/stats/top-hardware.json
  api/v1/stats/trends.json
  indices/by-component.json
  indices/by-distribution.json
  indices/by-kernel.json
  indices/by-vendor.json
  indices/compatibility-matrix.json
  indices/search-terms.json
  js/category-browser.js
  js/search-engine.js
  src/indexer/mod.rs
  statistics/overview.json
Due: rust-formatting, rust-linting

Add comprehensive GitHub Actions CI/CD pipeline for automated package building
  .github/workflows/build-packages.yml
  .github/workflows/test-and-lint.yml
  default.nix
  design/qt6-qml-interface-design.md
  flake.lock
  flake.nix
  src/errors/mod.rs
  src/lib.rs
  src/resources/style.css
  web/js/configuration-engine.js
Due: rust-formatting, rust-linting

gtk4 adn qt6 app ready for testing
  Cargo.lock
  Cargo.toml
  README.md
  build.rs
  design/IMPLEMENTATION_STATUS.md
  docs/INSTALL.md
  docs/USAGE.md
  docs/man/lx-hw-detect-gtk.1
  docs/man/lx-hw-detect-qt6.1
  flake.nix
  src/bin/lx-hw-detect-qt6.rs
  src/gui/mod.rs
  src/gui/models.rs
  src/lib.rs
  src/qt6/application.rs
  src/qt6/backend.rs
  src/qt6/mod.rs
  src/qt6/models.rs
  src/qt6/qml/ConfigScreen.qml
  src/qt6/qml/DetectionScreen.qml
  src/qt6/qml/HardwareScreen.qml
  src/qt6/qml/MainWindow.qml
  src/qt6/qml/PrivacyScreen.qml
  src/qt6/qml/SubmissionScreen.qml
  src/qt6/qml/WelcomeScreen.qml
  src/qt6/qml/components/Chip.qml
  src/qt6/qml/components/NavigationRail.qml
  src/qt6/qml/main.qml
Due: rust-formatting, rust-linting, cargo-toml-format

Complete Qt6 QML application with functional hardware display and Gruvbox theming
  src/bin/lx-hw-detect-qt6.rs
  src/qt6/application.rs
  src/qt6/qml/standalone_main.qml
Due: rust-formatting, rust-linting

Complete all four GUI applications with real hardware detection
  src/gui/mod.rs
  src/gui/utils.rs
  src/qt6/application.rs
  src/qt6/backend.rs
  src/qt6/qml/standalone_main.qml
  web/css/styles.css
  web/index.html
  web/js/configuration-engine.js
  web/js/github-auth.js
  web/js/hardware-bridge.js
  web/sample-hardware-report.json
Due: rust-formatting, rust-linting

Implement comprehensive GitHub infrastructure for production-ready community management
  .github/DISCUSSION_TEMPLATE/general-discussion.yml
  .github/DISCUSSION_TEMPLATE/hardware-showcase.yml
  .github/DISCUSSION_TEMPLATE/help-needed.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE/code-contribution.md
  .github/workflows/branch-protection.yml
  .github/workflows/build-packages.yml
  .github/workflows/community-engagement.yml
  .github/workflows/contributor-stats.yml
  .github/workflows/discussion-management.yml
  .github/workflows/docker.yml
  .github/workflows/flatpak.yml
  .github/workflows/hardware-processing.yml
  .github/workflows/release.yml
  .github/workflows/repository-management.yml
  .github/workflows/test-distributions.yml
  docs/GITHUB_INFRASTRUCTURE.md
Due: none

Update repository statistics
  data/repository-stats.json
  data/repository-summary.txt
Due: none

Update contributor statistics and badges
  data/contributor-stats.json
  data/contributor-summary.txt
  docs/CONTRIBUTOR_BADGES.md
  web/data/contributor-stats.json
Due: none

Complete Phase 4: Full project implementation with production-ready infrastructure
  .dockerignore
  Cargo.lock
  Cargo.toml
  Dockerfile
  PHASE3_PLAN.md
  PHASE4_PLAN.md
  docker-compose.yml
  docs/DEPLOYMENT.md
  docs/README.md
  docs/api/README.md
  docs/community/onboarding.md
  docs/getting-started/quick-start.md
  docs/project/marketing-materials.md
  docs/technical/architecture.md
  docs/user-guides/end-user.md
  docs/user-guides/sysadmin.md
  flake.nix
  install.sh
  packaging/flatpak/org.lxhwdb.LxHwDb.appdata.xml
  packaging/flatpak/org.lxhwdb.LxHwDb.desktop
  packaging/flatpak/org.lxhwdb.LxHwDb.yml
  scripts/install-arch.sh
  scripts/install-fedora.sh
  scripts/install-nixos.sh
  scripts/install-ubuntu.sh
  web/.eslintrc.json
  web/.stylelintrc.json
  web/Dockerfile
  web/docker-compose.production.yml
  web/package.json
Due: cargo-toml-format

Fix YAML syntax errors and warnings in GitHub Actions workflows
  .github/workflows/branch-protection.yml
  .github/workflows/build-indices.yml
  .github/workflows/build-packages.yml
  .github/workflows/community-engagement.yml
  .github/workflows/contributor-stats.yml
  .github/workflows/deploy-web.yml
  .github/workflows/discussion-management.yml
  .github/workflows/docker.yml
  .github/workflows/flatpak.yml
  .github/workflows/hardware-processing.yml
  .github/workflows/publish-crates.yml
  .github/workflows/release.yml
  .github/workflows/repository-management.yml
  .github/workflows/test-and-lint.yml
  .github/workflows/test-distributions.yml
  .github/workflows/test-simple.yml
  .github/workflows/update-search-indices.yml
  .github/workflows/validate-hardware-report.yml
  .github/workflows/validate-hardware-reports.yml
Due: none
